<div style="margin-top: 40px;">
    <header class='demos-header'>
        <h1 class="demos-title">用户登录</h1>
    </header>
    <div class="weui-cells weui-cells_form">

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">用户名</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="username" type="text" placeholder="请输入用户名">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="password" type="text" placeholder="请输入密码">
            </div>
        </div>

    </div>

    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="submit">登录</a>
    </div>

    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_default" href="javascript:" id="register">注册</a>
    </div>

</div>

<script>
    $("#register").click(function () {
        location.href = "{:url('index/register')}";
    });

    $("#submit").click(function () {
        var username = $('#username').val();
        var password = $('#password').val();

        var type = type || "post";
        var dataType = dataType || "json";
        var showLoading = showLoading;
        $.ajax({
            type: type,
            url: "{:url('index/login')}",
            data: {'username': username, 'password': password},
            dataType: dataType,

            beforeSend: function () {  //开始loading
                if (showLoading) {
                    $.showLoading("正在加载...");
                }
            },

            success: function (res) {
                console.log(res);
                if (res.code === 500) {
                    $.toast(res.message, 'cancel');
                } else {
                    $.toast("登录成功", "success", function () {
                        location.href = "{:url('dream/index')}";
                    });
                }
            },

            complete: function () {   //结束loading
                if (showLoading) {
                    $.hideLoading();
                }
            }
        });
    });
</script>