<div style="margin-top: 40px;">
    <header class='demos-header'>
        <h1 class="demos-title">用户注册</h1>
    </header>
    <div class="weui-cells weui-cells_form">

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">用户名</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="username" type="text" placeholder="请输入用户名">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="password" type="text" placeholder="请输入密码">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="time-inline" class="weui-label">生日</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="time-inline" type="text" value="1994-11-02 11:02">
            </div>
        </div>
    </div>

    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_default" href="javascript:" id="register">注册</a>
    </div>

</div>

<script>
    $("#time-inline").datetimePicker();
    $("#register").click(function () {
        var username = $('#username').val();
        var password = $('#password').val();
        var birthday = $('#datetime-picker').val();

        var type = type || "post";
        var dataType = dataType || "json";
        var showLoading = showLoading;
        $.ajax({
            type: type,
            url: "{:url('index/submit_register')}",
            data: {'username': username, 'password': password, 'birthday': birthday},
            dataType: dataType,

            beforeSend: function () {  //开始loading
                if (showLoading) {
                    $.showLoading("正在加载...");
                }
            },

            success: function (res) {
                console.log("res", res);
                if (res.code === 500) {
                    $.toast(res.message, 'cancel');
                } else {
                    $.toast("注册成功", "success", function () {
//                        location.href = "{:url('index/index')}";
                    });
                }
            },
            complete: function () {   //结束loading
                if (showLoading) {
                    $.hideLoading();
                }
            }
        });
//        $ajax(
//            "{:url('index/submit_register')}",
//            {'username': username, 'password': password, 'birthday': birthday},
//            true,
//            function (res) {  //成功
//                location.href = "{:url('index/index')}";
//            },
//            function (res) {
//                alert("用户名或密码错误");
////                $.toptip('用户名或密码错误', 'error');
//            }
//        );
    });
</script>