
<!--{include file="public/tpl/top" /}-->

<div class="weui-tab">
    <div class="weui-tab__bd">
        心愿池
    </div>

    <div class="weui-tabbar">
        <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon">
                <img src="__STATIC__/img/icon_nav_button.png" alt="">
            </div>
            <p class="weui-tabbar__label">心愿池</p>
        </a>
        <a href="{:url('sheet')}" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="__STATIC__/img/icon_nav_icons.png" alt="">
            </div>
            <p class="weui-tabbar__label">心愿单</p>
        </a>
        <a href="{:url('me')}" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="__STATIC__/img/icon_nav_cell.png" alt="">
            </div>
            <p class="weui-tabbar__label">个人中心</p>
        </a>
    </div>
</div>

<!--{include file="public/tpl/bottom" /}-->
