<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">

    <title>[title]</title>

    <link rel="stylesheet" href="__STATIC__/lib/lib/weui.css">
    <link rel="stylesheet" href="__STATIC__/lib/css/jquery-weui.css">
    <link rel="stylesheet" href="__STATIC__/lib/css/demos.css">
    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/heart.css">

    <script src="__STATIC__/lib/lib/jquery-2.1.4.js"></script>
    <script src="__STATIC__/lib/lib/fastclick.js"></script>
    <script>
        $(function () {
            FastClick.attach(document.body);
        });
        function $ajax(url, postData, showLoading, succCallback,errorCallback,type, dataType) {
            var type = type || "post";
            var dataType = dataType || "json";
            var showLoading = showLoading;

            $.ajax({
                type: type,
                url: url,
                data: postData,
                dataType: dataType,

                beforeSend: function () {  //开始loading
                    if(showLoading){
                        $.showLoading("正在加载...");
                    }
                },

                success: function (res) {
                    console.log("res", res);
                    if(res.hasOwnProperty('code')&&res['code']==500){
                        if(errorCallback){
                            errorCallback();
                        }
                    }
                    else{
                        if (succCallback) {
                            succCallback(res);
                        }
                    }
                },

                complete: function () {   //结束loading
                    if(showLoading){
                        $.hideLoading();
                    }
                }
            });
        }

    </script>
    <script src="__STATIC__/lib/js/jquery-weui.js"></script>
</head>
<body ontouchstart>


