<!--{include file="public/tpl/top" /}-->

<div class="weui-navbar dream-header">
    <div class="dream-header-middle">
        个人中心
    </div>
</div>

<div class="weui-tab">
    <div class="dream-list-container">
        <div style="padding: 15px;background-color: #ffffff;">
            <table width="100%" style="table-layout:fixed;">
                <tr>
                    <td rowspan="2" width="50px;">
                        <div id="dream-portrait" style="position: relative;">
                            <img src="__STATIC__/img/default.jpg" class="dream-me-img" id="user_portrait">
                        </div>
                    </td>
                    <td>
                        <div class="dream-me-name" id="user_name">{$username}</div>
                    </td>
                    <td rowspan="2" width="80px" align="right">
                        <a href="{:url('user/edit_userinfo')}">
                            <div class="dream-me-edit-img">
                                <img src="__STATIC__/img/bianji@2x.png"
                                     style="width:100%;height: 100%;">
                            </div>
                            <div class="dream-me-edit-font">
                                编辑资料
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="dream-me-from">
                            <span style="margin-right: 5px;" id="user_company">这里可以放个个人名言啥的</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="dream-item-space"></div>
        <a href="{:url('dream/sheet')}">
            <div class="dream-me-item">
                <div class="weui-row">
                    <div class="weui-col-50">
                        <div style="font-size: 15px;">我的心愿</div>
                    </div>
                    <div class="weui-col-50">
                        <div style="width: 22px;height: 22px;float: right;">
                            <img src="__STATIC__/img/title_back@2x.png" width="100%" height="100%">
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="{:url('dream/sheet')}">
            <div class="dream-me-item">
                <div class="weui-row">
                    <div class="weui-col-50">
                        <div style="font-size: 15px;">我的点赞</div>
                    </div>
                    <div class="weui-col-50">
                        <div style="width: 22px;height: 22px;float: right;">
                            <img src="__STATIC__/img/title_back@2x.png" width="100%" height="100%">
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="{:url('dream/sheet')}">
            <div class="dream-me-item">
                <div class="weui-row">
                    <div class="weui-col-50">
                        <div style="font-size: 15px;">我的提醒</div>
                    </div>
                    <div class="weui-col-50">
                        <div style="width: 22px;height: 22px;float: right;">
                            <img src="__STATIC__/img/title_back@2x.png" width="100%" height="100%">
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <div class="weui-btn-area" style="margin-top: 50px;">
            <a class="weui-btn weui-btn_warn" href="{:url('user/logout')}" id="submit">退出登录</a>
        </div>

    </div>


    <div class="weui-tabbar" style="position: fixed;bottom: 0;right: 0;left: 0">
        <a href="{:url('dream/poll')}" class="weui-tabbar__item ">
            <div class="weui-tabbar__icon">
                <img src="__STATIC__/img/icon_nav_button.png" alt="">
            </div>
            <p class="weui-tabbar__label">心愿池</p>
        </a>
        <a href="{:url('dream/sheet')}" class="weui-tabbar__item ">
            <div class="weui-tabbar__icon">
                <img src="__STATIC__/img/icon_nav_icons.png" alt="">
            </div>
            <p class="weui-tabbar__label">心愿单</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon">
                <img src="__STATIC__/img/icon_nav_cell.png" alt="">
            </div>
            <p class="weui-tabbar__label">个人中心</p>
        </a>
    </div>
</div>

<script type="application/javascript">

    $(function () {


    });

</script>
<!--{include file="public/tpl/bottom" /}-->
